<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/student/register">
 <p th:text="#{Name}"> </p>  <input type="text" name="name" /><br />
    <p th:text="#{Email}"></p> <input type="text" name="email" /><br />
  <p th:text="#{Score}"></p>   <input type="text" name="score" /><br />
  <p th:text="#{Comment}"></p>   <textarea name="comment" rows="10" cols="80"></textarea><br />
    <br />
    <input type="submit" />
</form>

<a th:href="@{'?locale=ko'}">ko</a><br />
<a th:href="@{'?locale=en'}">en</a><br />
</body>
</html>